/* Table Container */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background-color: #908b8b;
    border-radius: 8px;
    overflow: hidden;
    table-layout: fixed;
}

/* Table Header Styling */
thead.t_head {
    /* background-color: #4CAF50; */
    color: #fff;
    text-transform: uppercase;
    /* font-weight: bold; */
}

.t_head_row {
    width: 100%;
    top: 0;
    position: fixed;
    /* background-color:#a8c4e6;
     */
    background-color:  #1976d2;

    z-index: 1;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

    

}

.t_head_row th {
    padding: 13px;
    text-align: left;
}

/* Table Body Styling */
tbody.t_body tr {
    border-bottom: 1px solid #ddd;

}

.t_body_row:nth-child(even) {
    background-color: #f2f2f2;
}

.t_body_row:nth-child(odd) {
    background-color: #ffffff;
}

.t_body_row:hover {
    background-color: #e6ffe6;
    /* Light green for hover */
    cursor: pointer;
}

.t_body_row td {
    padding: 12px;
    color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    .t_head_row th,
    .t_body_row td {
        padding: 8px 10px;
    }
}

@media (max-width: 412px) {
    table {

        font-size: 14px;
    }

    .t_head_row {
        font-size: 12px;
    }

    .t_body_row {
        font-size: 10px;

    }

    .t_head_row th,
    .t_body_row td {
        padding: 8px 10px;
    }
}